#chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px; /* Adjusted max-width for mobile */
  width: 100%; /* Added width for mobile */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  transition: max-width 0.5s;
}

.minimized #minimize-btn {
  display: none; /* Hide toggle button when minimized */
}

.maximized #maximize-btn {
  display: none; /* Hide alternate toggle button when maximized */
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-container {
  height: 300px;
  overflow-y: auto;
}

.chat-messages {
  padding: 10px;
}

.user-message {
  text-align: right; /* Align user messages to the right */
}

.bot-message {
  text-align: left; /* Align bot messages to the left */
}

.user-input {
  padding: 10px;
  display: flex;
}

.user-input input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.user-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
